<section class="container">
<h1>albums</h1>
<% albums.forEach((album, i, original) => { %>
  <% if (i === 0) { %>
  <div class="row">
<% }; %>
<div class="col-md-4">
<div class="thumbnail">
<div class="caption">
<img src=<%= album.artwork %> height="100">
<p><a href='/albums/<%=album._id %>'><%= album.album_name %></a></p>
<p><a href="/artists/<%= album.artist._id %>"><%= album.artist.name %></a></p>
</div>
</div>
</div>
<% if (i === original.length-1) { %>
  </div>
<% }; %>
<% }); %>
</section>
