<% if (error) { %>
<div class="elert alert-danger text-center" role="alert"><%= error %></div>
<% } %>
<section class="container">
  <form action="/tracks/<%= track._id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <div class="form-group">
            <label for="track_number">track number</label>
        <input value='<%= track.track_number %>'type="number" class="form-control" id="track_number" name="track[track_number]" placeholder="track number">
    </div>
  <div class="form-group">
          <label for="title">track name</label>
      <input type="text" value='<%= track.track_name %>' class="form-control" id="track_name" name="track[track_name]" placeholder="track_name">
  </div>
  <div class="form-group">
          <label for="track_duration"></label>
      <input type="number" value='<%= track.track_duration %>' class="form-control" id="track_duration" name="track[track_duration]" placeholder="track_duration">
  </div>
  <div class="form-group">
  <label for="artist_name">Artist Name (DB)</label>
  <select class="form-control" id="artist_name" name="track[artist]">
    <% artists.forEach(artist => { %>
      <option value="<%= artist._id %>"><%= artist.name %></option>
    <% }) %>
  </select>
</div>
  <div class="form-group">
  <label for="album_name">Album name</label>
  <select class="form-control" id="album_name" name="track[album_name]">
    <% albums.forEach(album => { %>
      <option value="<%= album._id %>"><%= album.album_name %></option>
    <% }) %>
  </select>
</div>
<div class="form-group">
        <label for="audio_path"></label>
    <input type="text" class="form-control" id="audio_path" name="track[audio_path]" value='<%= track.audio_path %>' placeholder="audio">
</div>
  <button type="submit" class="btn btn-primary" name="button">Update</button>
  </form>
  <form action="/tracks/<%= track._id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger">Delete</button>
  </form>
</section>
