<section class="container">
<h1>tracks</h1>
<% tracks.forEach((track, i, original) => { %>
  <% if (i === 0) { %>
  <div class="row">
<% }; %>
<div class="col-md-4">
<div class="thumbnail">
<div class="caption">
<h3><%= track.track_name %></h3>
<h3><%= track.track_number %></h3>
<h3><%= track.track_duration %></h3>
<h3><%= track.artist %></h3>
<h3><%= track.album_name %></h3>
<p><a href='/tracks/<%=track._id %>' class='btn btn-primary' role='button'>View</a></p>
</div>
</div>
</div>
<% if (i === original.length-1) { %>
  </div>
<% }; %>
<% }); %>
</section>
