<section class="container">
<h1>tracks</h1>
<table class="table table-striped table-hover">
   <thead class="thead-default">
<tr>
  <th>No.</th>
  <th>Title</th>
  <th>Album</th>
  <th>Artist</th>
  <th>Duration</th>
</tr>
</thead>
<tbody>
<% tracks.forEach((track, i, original) => { %>
  <% if (i === 0) { %>
<% }; %>
  <tr>
  <td><%= track.track_number %></td>
  <td><%= track.track_name %></td>
  <td><%= track.album_name.album_name %></td>
  <td><%= track.album_name.artist %></td>
  <td><%= track.track_duration %></td>
  </tr>
<% if (i === original.length-1) { %>

<% }; %>
<% }); %>
</tbody>
</table>
</section>
