<section class="container">
<h1>tracks</h1>
<a href='/tracks'>all tracks</a>
<table class="table table-striped table-hover" data-mobile-responsive="true">
   <thead class="thead-default">
<tr>
  <th>No.</th>
  <th>Title</th>
  <th>Album</th>
  <th>Artist</th>
  <th>Duration</th>
  <th>Audio URL</th>
  <th>Audio</th>
  <th>Actions</th>
</tr>
</thead>
<tbody>
  <tr>
  <td><%= track.track_number %></td>
  <td><%= track.track_name %></td>
  <td><%= track.album_name.album_name %></td>
  <td><%= track.album_name.artist %></td>
  <td><%= track.track_duration %></td>
  <td><%= track.audio_path %></td>
  <td><a href='/tracks/<%=track._id %>/edit'>Edit</a></td>
  </tr>
</tbody>
</table>
</section>
